#educationMain {
  display: none;
}

#educationMain ul {
  list-style: none;
  display: grid;
  gap: 3rem;
}

#educationMain ul li {
  background-color: var(--color-30);
  padding: 3rem;
  border-radius: 1rem;
  
  text-align: center;
}

#educationMain ul li h1 {
  margin-bottom: 1.5rem;

  font-size: 2.2rem;
  color: var(--color-10);
}

#educationMain ul li h2 {
  margin-bottom: 3rem;

  color: var(--opacity-white);
  font-size: 1.6rem;
  text-transform: uppercase;
}

#educationMain ul li .wrapper {
 display: flex;
 justify-content: center;
}

#educationMain ul li .wrapper button {
  background-color: var(--color-60);
  border: none;
  padding: 1rem;
  border-radius: 1rem;
}

#educationMain ul li .wrapper button a {
  text-decoration: none;
  color: var(--white);
  font-family: 'Roboto Mono', monospace;
  letter-spacing: .1rem;

  display: flex;
  align-items: center;
  gap: 1rem;
}

@media (min-width: 1440px) {
  #educationMain ul {
    grid-template-columns: 1fr 1fr;
  }
}