main {
  margin-bottom: 11rem;

  text-align: center;
  
  padding: 3rem;
}

@media (min-width: 1024px) {
  main {
    margin-left: 20%;
    margin-bottom: 0;
  }
}

@media (min-width: 1440px) {
  main {
    padding-inline: 20rem;
  }
}